# -----------------------------------------------------------------------------
# Rust / Cargo
# -----------------------------------------------------------------------------
/target/
**/*.rs.bk
Cargo.lock

# -----------------------------------------------------------------------------
# IDEs / Éditeurs
# -----------------------------------------------------------------------------
.idea/
.vscode/
*.swp
*.swo

# -----------------------------------------------------------------------------
# Fichiers système et secrets
# -----------------------------------------------------------------------------
.DS_Store
.env
*.db
*.sqlite
*.sqlite3
/Config_test/
